<a href="{% url 'movie_detail' movie_id=movie.id %}"
   class="fc hover-scale-2 text-decoration-none
   text-light-emphasis {{ movie_card_classes }}">
    <img src="{{ movie.poster.url }}" alt="">
    <h2 class="mt-2 ">{{ movie.title }}</h2>
    <span>Рейтинг: {{ movie.rating }}</span>
    <span>
        {% for genre in movie.genres.all %}
            <span>
                {{ genre.name }}{% if not forloop.last %},{% endif %}
            </span>
        {% endfor %}
    </span>
    <span class="text-secondary mt-auto">{{ movie.release_date }}</span>
</a>